<h1>All Products </h1>

<p class="add_new_product">
  <%= link_to "Add a new product", new_product_path %>
</p>

<% @products.all.each do |p| %>
  <h1><%= p.name %>: $<%= p.formatted_price %> </h1>
  <p> <%= p.description %> </p>
  <p> <%= link_to "#{p.name} Page", product_url(p) %></p>

<% end %>
